:root {
    --primary-color: #4D4D4D;
    --alt-color: #F6F5F2;

    --color-1: #3D8D7A;
    --color-2: #FBFBFB;
    --color-3: #A3D1C6;
}

/* TEXTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;

    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

.title-text {
    font-size: 3rem;
}

.white-text {
    color: var(--alt-color);
}

.center-text {
    text-align: center;
}

/* MARGINS, PADDINGS & POSITIONING*/
/* "m" means margin */
.m-top {
    margin-top: 1rem;
}

.m-bot {
    margin-bottom: 1rem;
}

/* DIVIDERS $ DISPLAY */
.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.equal-flex>div {
    flex: 1;
}

/* IMG & ICONS */
.img-container {
    width: 100%;
}

.profile-img {
    display: block;
    width: 256px;
    height: 256px;
    overflow-y: hidden;
    border-radius: 50%;
    margin: auto;
}

.contact-icons-container {
    width: fit-content;
    margin: auto;
}

.contact-icons-container p i,
.contact-icons-container a i {
    font-size: 2rem;
}

.contact-icons-container p,
.contact-icons-container a {
    font-size: 1rem;
}

.svg-containers img {
    width: 50px;
}

.business-logo {
    width: 256px;
}

.tools-logo {
    width: 64px;
}

/* DIVS */
.panel {
    display: block;
    position: relative;
    padding: 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* MAIN PAGES */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 1s;
    position: relative;
}

/* PAGES */
.one {
    background-color: var(--color-1);
    height: 80vh;
}

.two {
    background-color: var(--color-2);
    height: 100vh;
    padding-top: 3rem;
}

.three {
    background-color: var(--color-3);
    height: 100vh;
    padding-top: 3rem;
}

/* PAGE CONTENT */
.page-content {
    height: fit-content;
    width: 50vw;
}

/* SECTION BREAKS */
/* BREAK 1 */
.custom-shape-divider-top-1740315983 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1740315983 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1740315983 .shape-fill {
    fill: #3D8D7A;
}

/* BREAK 2 */
.custom-shape-divider-top-1740316124 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1740316124 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1740316124 .shape-fill {
    fill: #FBFBFB;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
        align-items: stretch;
    }

    .equal-flex > div {
        width: 100%;
    }

    .panel {
        width: 100%;
        box-sizing: border-box;
    }

    .offset-panel {
        padding: 1rem;
    }

    .offset-panel h1 {
        margin: 0;
    }

    .page {
        height: 100%;
    }

    .two, .three {
        padding-top: 7rem;
    }
    
    .three {
        padding-bottom: 1rem;
    }

    .page-content {
        height: 100%;
        width: 90vw;
    }

    .title-text {
        font-size: 2rem;
    }

    #home .title-text {
        margin-top: 3rem;
    }

    a span, p span, p, i{
        font-size: 1rem;
    }

    .tools-icon-container {
        display: flex;
        flex-direction: row;
    }
}